* {
  margin: 0;
  padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.center {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.grid{
  display: grid;
}

#top-section {
  height: 49.256vw;
  background-image: url(../img/0.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  /*background-position:center center;*/
  background-position:center 101%;
    /*position: relative;*/
}

.wraper{
    /*margin-top: 20%;*/
    height: 100%;
    /*flex-direction: column;
    justify-content: center;
    align-content: center;*/
    color: #fff;
    text-align: center;
    font-family:'Libre Franklin', sans-serif;;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(27,1fr);
}

/*nav*/
nav {
    border: none;
    
    background-color: dimgray;
    max-width: 100%;
    grid-column: 4 / 25;
    grid-row: 5 / 7;  
    max-height: 2.741vw;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: 1fr;
    
    
}

.section{
    width:100%;
    height: 40px;
    border-right: 1px solid ;
    margin: 0;
    padding-top: 0.783vw;
    background-image: linear-gradient(#7c7c7c, #383838);
    align-self: center;
    border-radius: 4%;
}

.section:first-child{
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.section:last-child{
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

.section span{
    font-family: 'BDP-Clien-Regular';
    font-size: 0.940vw;
    line-height: 1.410vw;
}

.section a:hover{
    text-decoration: none; 
}

.section:hover{
  background-image: linear-gradient(#383838, gray);
    
}

.nav-search{
   position: relative; 
}
.section input{
    width: 90%; 
    height: 50%;
    background-image:linear-gradient(#7c7c7c, #383838);
    position: absolute;
    right: 0.783vw;
    top:0.940vw;
    border: none;
    border-radius: 100px;
}

.section input:active, textarea:focus{
   outline: none;
}

.fa-search{
    position: absolute;
    color: white;
    font-size: 0.783vw;
    top:1.449vw;
    left:0.783vw;
    z-index: 2;
    
        
}
.wraper h1{
    font-size: 3.915vw;
    font-weight: 100;
    letter-spacing: 0.016vw;
    grid-column: 8/ 21;
    grid-row: 8 / 21;
    
}

.wraper p{
    font-size: 2.349vw;
    grid-column: 6/ 24;
    grid-row: 10/18;
    
}

.wraper a{
    font-size: 1.410vw; 
    vertical-align: middle;
    grid-column: 5/ 22;
    grid-row: 13/ 22;
    
}

/* imgage section */

#img-section {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.img-t {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 0.157vw;
}

.one {
  background-image: url(../img/1.jpg);
}

.two {
  background-image: url(../img/2.jpg);
}

.three {
  background-image: url(../img/3.jpg);
}

.four {
  background-image: url(../img/4.jpg);
}

/* footer */

#footer-section {
  width: 78%;
  height: 7.048vw;
 /* border: 2px solid black; */
  font-size: 0.7rem;
  font-family: 'Lucida Grande';
  padding: 1.096vw 0 0 0;
}

.footer-a {
  color: #0088cc;
}

#footer-top {
  height: 0.877vw;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0.626vw 0 ;
}

.footer-list {
  list-style: none;
  padding: 0 ;
  position: relative;
}

.footer-list li {
  display: inline;
  padding: 0 0.235vw;
  border-left: 1.5px solid rgb(207, 207, 207);
}

#usa-img {
  width: 14px;
  height: 14px;
}

#footer-bottom {
  width: 34.456vw;
  height: 2.114vw;
  display: grid;
  grid-template-columns: 60% 40%;
}
